.statistics-buttons-container {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  position: absolute;
  top: 40%;
  left: 38%;
}

.statistics-button {
  background: linear-gradient(#f07249, #f02649);
  padding: 25px;
  margin: 5%;
  height: 30%;
  font-size: large;
  border: solid 8px #d44d56;
  border-style: outset;
}

.statistics-buttons-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40%;
}

.aro {
  display: flex;
  position: absolute;
  transform: scale(0.6);
  top: 1%;
  right: 80%;
}

.purple-squares {
  display: flex;
  position: absolute;
  transform: scale(0.4);
  top: 17%;
  left: 180%;
}

.serpentina {
  display: flex;
  position: absolute;
  transform: scale(0.35);
  top: 40%;
  left: 222%;
}
