.how-to-play-page {
    margin: 0;
    background-image: url("/src/images/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

body {
    overflow: hidden;
}