.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 45%;
}

.forgot-password-form {
  border: solid 5px #902ac7;
  border-radius: 20px;
  padding: 10% 40%;
  animation: border-color-forgot-password 3s infinite;
}

.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 95%;
  left: 5%;
}

.reset-password-form {
  border: solid 5px #902ac7;
  border-radius: 20px;
  padding: 10% 40%;
  animation: border-color-forgot-password 3s infinite;
}

@keyframes border-color-forgot-password {
  25% {
    border-color: #902ac7;
  }
  50% {
    border-color: #1f2ead;
  }
  75% {
    border-color: #8a32ad;
  }
  100% {
    border-color: #1a26c9;
  }
}

.forgot-password-form button {
  padding: 11px;
  background-color: #1670ba;
}

.forgot-password-form {
  border: solid 5px #902ac7;
  border-radius: 20px;
}
