.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 18%;
  left: 30%;
  text-align: center;
}

.board-container table,
tr,
th,
td {
  border: solid 3px #902ac7;
  border-radius: 12px;
  border-spacing: 15px;
  padding: 8px;
}

.board-container th {
  background-color: #902ac7;

  color: white;
}
