/*.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 5%;
  left: 20%;
  text-align: center;
  top: 30%;
}

.board-container table,
tr,
th,
td {
  border: solid 3px #902ac7;
  border-radius: 12px;
  border-spacing: 10px;
  padding: 8px;
}

.board-container th {
  background-color: #902ac7;

  color: white;
}
*/
.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 5%;
  top: 30%;
  left: 5%;
  text-align: center;
  font-size: small;
}

.board-container table,
tr,
th,
td {
  border: solid 4px #0053b1;
  border-radius: 12px;
  border-style: outset;
  border-spacing: 10px;
  padding: 8px;
}

.board-container th {
  background-color: #902ac7;
  background: linear-gradient(#0443c6, #04acc2);
  color: white;
}

.board-container td {
  background: linear-gradient(#91ebf0, #e9f7f4);
}
