.auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 5px #1670ba;
  border-radius: 20px;
  margin-left: 30px;
  padding: 30px 60px;
}

.enter-btn {
  background-color: #1670ba;
  padding: 10px 20px;
}

.forgot-password-btn {
  background-color: white;
  color: black;
}

button,
label {
  font-size: 18px;
  margin-bottom: 20px;
}

.create-account-btn {
  padding: 10px;
}

.error-message {
  color: #d44d56;
  font-weight: bold;
  border: solid 4px #d44d56;
  border-radius: 20px;
  padding: 10px;
  animation: border-color-error-msg 3s infinite;
}

@keyframes border-color-error-msg {
  25% {
    border-color: #df5527;
  }
  50% {
    border-color: #a83636;
  }
  75% {
    border-color: #df5527;
  }
  100% {
    border-color: #e01313;
  }
}

/* Media queries */
