@font-face {
  font-family: 'Crossten SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url("/src/fonts/CrosstenSemiBold.woff");
}

body {
  margin: 0;


  font-family: "Crossten SemiBold", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}